@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

.diagonal-box {
  background-image: linear-gradient(90deg, #000000, orangered);
  transform: skewY(5deg);
  min-height: 1000px;
  /* width: 50rem; */
  background-color: orangered !important;
  color: white;
  margin: 0 !important;
}
.content {
  margin: 0 auto;
  transform: skewY(-5deg);
  color: white;
  font-family: "Nanum Gothic", sans-serif;
}

.content > h1 {
  padding-top: 5rem;
  padding-left: 5rem;
  color: orangered;
}

.Resume__Container {
  background-color: black;
  margin: 0 !important;
}

.col-1 {
  margin-top: 15rem;
  font-family: "Nunito Sans", sans-serif;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#title {
  transform: rotate(-90deg);
  padding-left: 0px !important;
  margin: 0rem;
  position: relative;
  font-size: 3rem;
  padding-top: 3rem;
  /* text-decoration: underline; */
}

.titleCard {
  padding-top: 19rem;
}
.titleContentCard {
  padding-top: 1rem;
}

.card {
  background-color: black;
  color: white;
  font-family: "Nunito Sans", sans-serif;
  overflow-wrap: normal;
}

.bulletin {
  list-style-type: square;
  /* color: orangered; */
}
