@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

.Contactcontent {
  font-family: "Nanum Gothic", sans-serif;
  background-color: black;
  color: white;
  margin: 0 !important;
  padding-bottom: 7rem;
}

.Contactcontent__Title {
  font-family: "Nanum Gothic", sans-serif;
}

.Contactcontent__Title > h1 {
  padding-top: 5rem;
  padding-left: 5rem;
  padding-bottom: 5rem;
  color: orangered;
}

@media (max-width: 767px) {
  .Contactcontent__Title > h1 {
    padding: 2rem;
    text-align: center;
    color: orangered;
  }
}
.Contactcontent__Row {
  padding-left: 5rem;
}

.Contactcontent__RowButton {
  padding-top: 1rem;
  padding-left: 5rem;
}

#contactbutton {
  background-color: orangered;
  color: black;
}
