.Footer__Container {
  margin: 0 !important;
  background-image: linear-gradient(90deg, #000000, orangered);
  color: white;
  padding: 2rem;
}

.col-12 > p {
  text-align: center;
}

.button__container :hover {
  transform: scale(1.2);
  justify-content: center;
}
